body {
    color: #4F0202;
    background-color: #ACC8E5;
    font-family: 'Playfair Display', serif;
    font-size: large;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-style: bold;
}

header {
    text-align:center;
}

#hero {
    text-align: center;
    background-color: #8198af;
    padding: 20px;
    border:4px solid #350000;
}

#hero img {
    width:200px;
    height:200px;
}
 /* Biography */
#bio {
    font-size: large;
}

footer {
    text-align: center;
    background-color: #8198af;
    padding: 20px;
    border:4px solid #350000;
}

#cars img {
    border:2px dashed #350000;
}
/* hobbies */
#hobbies {
    
    display: flex;
    flex-direction:column;
    align-items: center;
}

#hobbies h2 {
    margin: .5ex 0px;
}

#hobbies ul li {
    text-align: left;
}

#hobbies ul li:nth-child(3n+1) {
    color:blue;
}
#hobbies ul li:nth-child(3n+2) {
    color: red;
}

/* gallery */

#gallery {
    border:15px double #4F0202;
    text-align: center;
}

#gallery img {
    max-width: 100%;
}

/* lit section */

#lit p::first-letter {
    clear:both;
    color:#2b0000;
    font-size: 250%;
    padding:0.5ex;
    margin-right: .5ex;
    font-weight: bold;
    background-color: #8198af;
    text-shadow: 5px 5px 5px rgba(0,0,0,.5);
    box-shadow: 4px 4px 4px rgba(0,0,0,.5);
    border-bottom-left-radius: 1em;
    float:left;
    border:5px double black;
}


#videoAttribute {
        text-align: center;
}
#videoCaption {
    text-align:center;
    padding-bottom: 5%;
}


#lit {
    margin: 3em;
}

/* contact form */

#contact {
    max-width: 400px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:75px;
}
#contact h2 {
    text-align: center;
}
#contact fieldset {
    border:2px solid #350000;
    padding:1em;
    border-radius: 1em;
    
}

#contact fieldset legend {
    background-color: #350000;
    color:white;
    padding:7px;
    border-radius: .5em;
    text-align: center;
}
#contact fieldset {
    display:grid;
}
#contact label {
    margin:1ex;
    margin-top: 1ex;
    margin-bottom: 1ex;
}
#contact fieldset fieldset {
    grid-template-columns: 30px auto;
    margin-top:10px;
    margin-bottom:10px;

}
/* media queries */
@media screen and (min-width: 300px){
    .videoWrapper {
        position: relative;
        text-align: center;
        padding-bottom: 56.25%;
    }
    iframe {
        position:absolute;
        top:0;
        left:0;
        width: 80%;
        height: 80%;
        margin-left: 10%;
    }
    
}
@media screen and (min-width:768px) {
    #gallery figure {
        display:grid;
        grid-template-columns:  2fr 1fr;
    }
    #gallery figcaption {
        display:flex;
        justify-content:center;
        align-items:center;
    }
    #lit div {
    max-width: 100%;
    columns:40em;
    text-align:justify;
    }
} 

@media screen and (min-width:1200px) {
    #gallery {
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
    }
    #gallery hr {
        display:none;
    }
    #gallery h2 {
        grid-column: 1/-1;
    }
    #gallery figure {
        display:block;
    }
    
    .videoWrapper {
        position: relative;
        text-align: center;
        padding-bottom: 56.25%;
    }
}
