body {
    color: #4F0202;
    background-color: #ACC8E5;
    font-family: 'Playfair Display', serif;
    font-size: large;
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    font-style: bold;
}

header {
    text-align:center;
}

#hero {
    text-align: center;
    background-color: #8198af;
    padding: 20px;
    border:4px solid #350000;
}

#hero img {
    width:200px;
    height:200px;
}
 /* Biography */
#bio {
    font-size: large;
}

footer {
    text-align: center;
    background-color: #8198af;
    padding: 20px;
    border:4px solid #350000;
}

#cars img {
    border:2px dashed #350000;
}
/* hobbies */
#hobbies {
    text-align: center;
}


#hobbies ul {
    width:50%;
    margin-left:auto;
    margin-right:auto;
    max-width: 350px;
    min-width: 200px;
    max-width: 100%;
}

#hobbies ul li {
    text-align: left;
}

#hobbies ul li:nth-child(3n+1) {
    color:blue;
}
#hobbies ul li:nth-child(3n+2) {
    color: red;
}

/* gallery */

#gallery {
    border:2px #4F0202 solid;
    text-align: center;
}

#gallery img {
    max-width: 100%;
}

/* lit section */

#lit p::first-letter {
    clear:both;
    color:#2b0000;
    font-size: 250%;
    padding:0.5ex;
    margin-right: .5ex;
    font-weight: bold;
    background-color: #8198af;
    text-shadow: 5px 5px 5px rgba(0,0,0,.5);
    box-shadow: 4px 4px 4px rgba(0,0,0,.5);
    border-bottom-left-radius: 1em;
    float:left;
    border:5px double black;
}